@use '~styles/themes' as *;

.header {
  position: sticky;
  top: 0;
  color: $white;
  background: $blue-600;

  > nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: $max-width;
    padding: 1rem;
    margin: auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px $black;
    white-space: nowrap;
  }
}
