$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);

// BG and Font
$bg-400: hsl(0, 0%, 85%);
$font-400: hsl(0, 0%, 0%);

// Theme
$blue-300: hsl(243, 80%, 60%);
$blue-400: hsl(243, 70%, 57%);
$blue-500: hsl(243, 54%, 40%);
$blue-600: hsl(244, 54%, 24%);
