@use './abstracts' as *;

:root {
  --background-color: hsl(0deg 0% 85%);
  --font-color: hsl(0deg 0% 0%);

  @media (prefers-color-scheme: dark) {
    --background-color: hsl(225deg 3% 29%);
    --font-color: hsl(0deg 0% 100%);
  }
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $tablet) {
    font-size: 56%;
  }

  @media only screen and (max-width: $phone) {
    font-size: 50%;
  }
}

body {
  font-family: Roboto, sans-serif;
  color: var(--font-color);
  background: var(--background-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
time {
  margin: 0;
}

header {
  z-index: 100;
  box-shadow: 0 0 10px $black;
}

main {
  max-width: $max-width;
  padding: 1rem 2rem;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
  overflow-wrap: break-word;
}

header,
footer,
nav,
section,
form {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $blue-300;
  }
}

button {
  color: inherit;
  background: none;
  border: 0;

  &:hover {
    color: $blue-300;
  }
}

img {
  background: $grey;
}

ul {
  padding: 0;
  margin: 0;
}
